.flex {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carruselContenedorInterno {
    width: 75%;
    margin-left: 6%;
    background-color: rgba(207, 186, 186, 0.384);
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.carruselBtn {
    position: absolute;
    background-color: rgba(81, 128, 93, 0.432);
    width: 50px;
    height: 50px;
    border: none;
    top: 50%;
    z-index: 2;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 600;
    color: rgb(38, 68, 68);
    transition: border-radius 0.5s ease, background-color 1s;
}

.carruselBtn:hover {
    background-color: rgba(66, 145, 70, 0.932);
    border-radius: 15%;
}


.carruselBtnMas {
    right: calc(0px + 3%);
}

.carruselSlide {
    border-radius: 10px;
}

.carruselInvisible {
    display: none;

}