* {
    text-align: center;
}

li {

    width: 90%;
    height: 73vw;
    background-color: rgb(235, 240, 241);
    border-radius: 20px;
}

iframe {


    width: 100%;
    height: 67vw;

}

#btnDonar {
    position: fixed;
    width: 10%;
    height: 5%;
    top: 3%;
    right: 1%;
}